@{
    ViewBag.Title = "About";
}

    <link href="~/Content/seerat.css" rel="stylesheet" />


<div style="height:170px; margin-top:500px;">

    <div class="box">
        <h1 align="center"> Team Members </h1>

        <div class="box1" align="center">

            <img class="circular--square" src="~/images/si.jpg" alt="" width="208" height="128" /><br><br>
            <label> Ahmad Seerat Sahak Peroz </label><br>
            <label> <a href="tel:+93781919169">+93 781919169</a> </label><br>
            <label> <a href="mailto:siratperoz82@gmail.com">siratperoz82@gmail.com</a> </label><br>
            <label> Honey is  the best poley </label>

        </div>

        
        <div class="box3" align="center">

            <img class="circular--square" src="~/images/g.JPG" alt="Not Availible" width="208" height="128" /><br><br>
            <label> Ahmad Millad Niazi </label><br>
            <label><a href="tel:+93785378515"> +93 785378515</a> </label><br>
            <label><a href="mailto:milladkhanniazi22@gmail.com"> milladkhanniazi22@gmail.com</a> </label>
            <p> Honey is the best poley </p>


        </div>



    </div>
</div>