
@{
    ViewBag.Title = "OurTeam";
}

<br /><br /> 
<h5  style="font-size:50px; text-align:center; font-family:'Times New Roman', Times, serif;"> We Work Hard to Digitalize Afghanistan </h5>
<p style="font-size:30px; text-align:center; font-family:'Times New Roman', Times, serif;">
    In Hope of a day full of happiness
</p>